/* star variabl */
:root{
    --main-color: #2757B6;
    --sec-color: #000000;
}
/* end variabl */
/* star global Ruls */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    min-width: 420px;
}
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* end global Ruls */

/* star components */
.special-heading{
    color:#ffffff;
    font-weight: 800;
    font-size: 18vw;
    text-align: center;
    margin:0 auto;
}
.special-heading + p{
    color: #575757;
    font-size: 4vw;
    margin: -28px 0 20px ;
    text-align: center;
}
.clearFix{
    clear: both;
}
/* end components */
/* star time line */
.timeLine{
    padding: 60px 0; 
    background-color: rgb(255, 255, 255);
}
.timeLine .timeLine-content{
    position: relative;
    padding: 20px 0;
    overflow: hidden;
}
.timeLine .timeLine-content::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: var(--main-color);
}
.timeLine .year{
    width: fit-content;
    padding: 5px 10px;
    margin: 20px auto;
    color: #fff;
    background: var(--main-color);
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 2;

}
.timeLine .content{
    padding: 20px;
    background: rgba(50, 50, 50, 0.1);
    width: calc(50% - 25px);
    margin: 10px 0;
    border-radius: 7px;
    position: relative;
}
.timeLine .content::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    background: #fff;
}
.timeLine .content.left::before{
    right: -35px;
}
.timeLine .content.right::before{
    left: -35px
}
.timeLine .content::after{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    top: 20px;
}
.timeLine .content.left::after{
    border-left-color: #2757B6;
    right: -20px
}
.timeLine .content.right::after{
    border-right-color: #2757B6;
    left: -20px
}
.timeLine .content.left{
    float: left;
}
.timeLine .content.right{
    float: right;
}
.timeLine .content h3{
    color: var(--main-color)
}
.timeLine .content p{
    color: rgb(30, 30, 30);
    line-height: 1.7;
}
/* end time line */

/* small screen */
@media (min-width: 576px){
    .container{
        width: 540px;
    }
    .special-heading{
        font-size: 14vw;
    }
    .special-heading + p{
        font-size: 3vw;
    }
    .contact .content > p,
    .contact .content > h3{
        font-size: 32px;
    }

}

/* medium screen */
@media (min-width: 768px){
    .container{
        width: 720px;
    }
    .services .content .col .serv{
        flex-direction: row;
        text-align: left;
    }
    .services .content .col-3{
        margin-right: 0;
    }
    
    
/* large screen */
@media (min-width: 992px){
    .container{
        width: 960px;
    }
    .services .content .col-3 div{
        display: block;
    }
    .special-heading{font-size: 140px;}
    .special-heading + p{
        font-size: 20px;
        margin-top: -43px;
    }

    .about .content{
        flex-direction: row;
    }
    .about .content .text{flex-basis: 50%;}
    .about .content .box .image::after,
    .about .content .box .image::before{
        display: block;
    }
}

}

/* extra larg screen */
@media (min-width: 1200px){
    .container{
        width: 1140px;
    }
    .landing .landing-text{
        padding:50px 0;
    }
    .landing .landing-text h2{
        margin: 30px 0;
    }
    
}
